.header{
    width: 1200px;
    height: 100px;
    background-color: aqua;
    margin: auto;

}
.logo{
    float: left;
}
.logo img{
    
        width: 100px;
        height: 50px;
}

.menu{
    float:right;
}

